<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.react.mapper.MenuMapper">
  <resultMap id="BaseResultMap" type="com.example.react.entity.Menu">
   
    <id column="f_id" jdbcType="VARCHAR" property="id" />
    <result column="f_title" jdbcType="VARCHAR" property="title" />
    <result column="f_path" jdbcType="VARCHAR" property="path" />
    <result column="f_parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="f_index" jdbcType="INTEGER" property="index" />
    <result column="f_icon" jdbcType="VARCHAR" property="icon" />
  </resultMap>
  
  <select id="list" resultMap="BaseResultMap">
    select f_id, f_title, f_path, f_parent_id, f_icon
    from t_menu 
    where f_is_enable = 1 
    order by f_parent_id,f_index,f_id
  </select>
</mapper>