<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.react.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.example.react.entity.Product">
   
    <id column="f_id" jdbcType="VARCHAR" property="id" />
    <result column="f_name" jdbcType="VARCHAR" property="name" />
    <result column="f_desc" jdbcType="VARCHAR" property="desc" />
    <result column="f_price" jdbcType="DECIMAL" property="price" />
    <result column="f_imgs" jdbcType="DECIMAL" property="imgs" />
    <result column="f_status" jdbcType="VARCHAR" property="status" />
    <result column="f_detail" jdbcType="VARCHAR" property="detail" />
    <result column="f_category" jdbcType="VARCHAR" property="category" />
    <result column="f_parent_category" jdbcType="VARCHAR" property="parentCategory" />
  </resultMap>
  
  <select id="list" resultMap="BaseResultMap">
    select f_id, f_name, f_desc,f_imgs, f_price, f_status ,f_detail,f_category, f_parent_category
    from t_product
    where 1=1
    <if test="product.desc != null and product.desc != ''">
       and f_desc like CONCAT ('%', #{product.desc}, '%')
    </if>
    <if test="product.name != null and product.name != ''">
    	and f_name like CONCAT ('%', #{product.name}, '%')
    </if>
  </select>
  
  <update id="updateStatus" >
  	update t_product set f_status = #{status} where f_id=#{id}
  </update>
  
  <update id="update">
  		update t_product set f_name = #{product.name} ,f_desc=#{product.desc}, f_price=#{product.price},f_imgs=#{product.imgs},
  		f_detail = #{product.detail}, f_category=#{product.category}, f_parent_category=#{product.parentCategory}
  		where f_id =#{product.id}
  </update>
  
  <update id="add">
  		insert into t_product (f_id,f_name,f_desc,f_price,f_imgs,f_detail,f_category,f_parent_category,f_status)
  		values(replace(uuid(), '-', ''),#{product.name} ,#{product.desc}, #{product.price},#{product.imgs},
  		#{product.detail}, #{product.category}, #{product.parentCategory}, '1')
  </update>
  
  <delete id="delete">
  	delete from t_product where f_id=#{productId}
  </delete>
</mapper>